<div th:fragment="sub-view">

	<div class="card mb-2 bg-dark text-light">
		<div class="card-body">
			<div class="card-title">
				<div class="row">
					<div class="col-md-1 mb-2">
						<span class="badge badge-pill badge-primary text-center">1</span>
					</div>
					<div class="col-md mb-2">
						<h5>Start</h5>
						<div class="bg-white text-dark container rounded">hh:MM:ss:mss</div>
					</div>
					<div class="col-md mb-2">
						<h5>Finish</h5>
						<div class="bg-white text-dark container rounded">hh:MM:ss:mss</div>
					</div>
					<div class="col-md mb-2">
						<h5>Position</h5>
						<div class="bg-white text-dark container rounded">hh:MM:ss:mss</div>
					</div>
				</div>
			</div>
			<div>
				<h5>Content</h5>
				<div class="card-text bg-white text-dark container rounded">El chorizo
					de texto que debe de haber en cada sub</div>

			</div>
		</div>
	</div>
</div>